* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
  font-family: "digital-clock-font";
  src: url("digital-7-mono.ttf");
}


body{
    display: flex;
    justify-content: center;
}
.calculator{
    background-color: #4c8cb0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-top: 25px;
    border-radius: 5%;
}

.calculator p{
    margin-left: auto;
    margin-top: 10px;
}



.head-header{
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;


}

.calculator-head p:first-of-type{
    font-family: Impact, sans-serif;
    color: white;
    letter-spacing: 1px;
}

.solar-panel{
    width: 120px;
    height: 27px;
    background-color: #4B4545;
    margin-left: auto;
    border-radius: 5px;
}

.calculator-body{
    background-color: #72acce;
    width: 95%;
    height: 390px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 5%;
}
.calculator-head{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
}

.calculator-display{
    background-color: #D4E2E3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    font-family: "digital-clock-font";
    overflow: hidden;
    padding-right:10px;

}

.calculator-display h1{
     font-size: 65px;
}


.calculator-content-column{
    width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.calculator-content-column div {
    width: 95px;
    height: 65px;
    color: white;
    background-color: #42617E;
    border: #4c8cb0 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  30px;
    border-radius: 30%;
    font-family: "Helvetica Rounded Bold", "Arial Rounded MT Bold", Arial, sans-serif;

}

.calculator-content-column div:active{
    background-color: #5B94B2;
}